body {
    font-family: 'Raleway', sans-serif, 'Maven Pro', 'Ranchers', 'Vibur';
    font-family: 'Kulim Park', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Poiret One', cursive;
    font-family: 'Raleway', sans-serif;
    font-family: 'Rammetto One', cursive;
    font-family: 'Ranchers', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sacramento', cursive;
    font-family: 'Vibur', cursive;
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Monoton', cursive;*/
    background-color: rgb(248, 245, 242);
}

@font-face {
    font-family: 'gilroyextrabold';
    src: url('/assets/Fonts/webfontkit/Gilroy/gilroy-extrabold-webfont.woff2') format('woff2'), url('/assets/Fonts/webfontkit/Gilroy/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'cascadia_codebold';
    src: url('/assets/Fonts/webfontkit/Cascadia/cascadiacode-bold-webfont.woff2') format('woff2'), url('/assets/Fonts/webfontkit/Cascadia/cascadiacode-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'chunkfive_printregular';
    src: url('chunk_five_print-webfont.woff2') format('woff2'), url('chunk_five_print-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'libre_baskervilleitalic';
    src: url('/assets/Fonts/webfontkit/libre-bakersville/librebaskerville-italic-webfont.woff2') format('woff2'), url('/assets/Fonts/webfontkit/libre-bakersville/librebaskerville-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*bifocals*/

@font-face {
    font-family: 'bifocalsblack-italic';
    src: url('bifocals_black_italic-webfont.woff2') format('woff2'), url('bifocals_black_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bifocalsblack';
    src: url('/assets/Fonts/webfontkit/Bifocals/bifocals_black-webfont.woff2') format('woff2'), url('/assets/Fonts/webfontkit/Bifocals/bifocals_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bifocalsregular';
    src: url('/assets/Fonts/webfontkit/Bifocals/bifocals-webfont.woff2') format('woff2'), url('/assets/Fonts/webfontkit/Bifocals/bifocals-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*gentona font*/

@font-face {
    font-family: 'gentonaextrabold';
    src: url('/assets/Fonts/webfontkit/Gentona/rene_bieder_-_gentona_extrabold_demo-webfont.woff2') format('woff2'), url('/assets/Fonts/webfontkit/Gentona/rene_bieder_-_gentona_extrabold_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*gilam font*/

@font-face {
    font-family: 'gilam-black';
    src: url('/assets/Fonts/webfontkit/Gilam/gilamdemo-black-webfont.woff2') format('woff2'), url('/assets/Fonts/webfontkit/Gilam/gilamdemo-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*mont fonts*/

@font-face {
    font-family: 'mont-extralight';
    src: url('/assets/Fonts/webfontkit/Mont-Solo/montdemo-extralight-webfont.woff2') format('woff2'), url('/assets/Fonts/webfontkit/Mont-Solo/montdemo-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mont-heavy';
    src: url('/assets/Fonts/webfontkit/Mont-Solo/montdemo-heavy-webfont.woff2') format('woff2'), url('/assets/Fonts/webfontkit/Mont-Solo/montdemo-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*solo fonts*/

@font-face {
    font-family: 'soloregular';
    src: url('/assets/Fonts/webfontkit/Mont-Solo/solo-webfont.woff2') format('woff2'), url('/assets/Fonts/webfontkit/Mont-Solo/solo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*Gilroy-Heavy*/

@font-face {
    font-family: 'GilroyHeavy';
    src: url('/assets/Fonts/webfontkit/Gilroy-Heavy/gilroy-heavy-webfont.woff2') format('woff2'), url('/assets/Fonts/webfontkit/Gilroy-Heavy/gilroy-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*navigation bar*/

.image-class,
.img-responsive {
    max-width: 100%;
    max-height: 80%;
    display: inline-flex;
}

.navbar {
    min-height: 70px;
}

.navbar-custom {
    padding: 0px;
    margin: 0px;
    min-height: 50px;
}

.navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
}

.navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 5px;
    padding: 3px 5px !important;
}

@media (min-width: 320px) {
    .navbar-nav>li>a {
        /* (80px - line-height of 27px) / 2 = 26.5px */
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 10px;
    }
}

.nav-link {
    font-size: .8rem;
    letter-spacing: 0.5px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'soloregular';
}

#logo-title {
    letter-spacing: -1.5px;
    display: inline-block;
    font-family: 'Raleway';
}

a {
    color: #272727;
}

.navbar-right {
    display: block;
    float: right;
    margin-left: 10px;
}


/* Section*/

section {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 1440px) {
    #welcome .btn {
        width: 40%;
    }
}

@media (max-width: 1024px) {
    #welcome .btn {
        width: 40%;
    }
}

@media (max-width: 769px) {
    #welcome .btn {
        width: 40%;
    }
}

@media (max-width: 481px) {
    #welcome .btn {
        width: 50%;
    }
}

@media (max-width: 376px) {
    #welcome .btn {
        width: 100%;
    }
}

#welcome {
    background-color: #f0f5f4;
}

#welcome .col {
    justify-content: center;
    flex-direction: column;
    display: flex;
}

#welcome .img-col {
    justify-content: flex-end;
    margin-top: 10px;
}

.col1 {
    margin-top: 5px;
    padding-top: 5px;
    padding-right: 10px;
    margin-right: 10px;
    margin-left: 20px;
    background-color: whitesmoke;
}

.card-column {
    margin: 0px;
    padding: 5px;
}

p,
.btn {
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

#welcome img {
    max-width: 130% !important;
    width: 100%;
}

#welcome span {
    font-size: small;
}

.welcome-social-icons div {
    border: black solid 1px;
    padding: 6px;
}


/*content section*/

#content .row {
    display: flex;
}

.title-tail,
.title-main {
    font-family: chunkfive_printregular;
}

#content .card-column {
    display: inline-flex;
    padding: 5px;
}

.main-content {
    background-color: rgb(206, 239, 241);
}

.author {
    font-family: 'Sacramento';
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-weight: 600;
}

.hr,
.hr-1 {
    max-width: 250px;
    border: 1px solid black;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 50px;
    padding-right: 100px;
}

.home-title {
    font-family: 'gilam-black';
    font-size: 3.2rem;
    font-weight: 900;
    color: white;
    justify-content: center;
    line-height: 3rem;
}

@media (max-width:426px) {
    .home-title {
        font-family: 'gilam-black';
        font-size: 2.2rem;
        font-weight: 900;
        color: white;
        justify-content: center;
        line-height: 2rem;
    }
}

@media (max-width: 426px) {
    .start-page {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        padding: 0px;
        color: black;
    }
}

@media (max-width: 425px) {
    h5 {
        margin-left: 10px;
        margin-right: 0px;
        margin-top: 0px;
        padding: 0px;
        color: black;
        letter-spacing: 3px;
        font-size: 2.2rem;
    }
}

.journey {
    background-color: whitesmoke;
    width: 6rem;
    display: inline-flex;
    padding-left: 30px;
    margin-left: 30px;
    padding-top: 60px;
    padding-bottom: 0px;
    margin-bottom: 15px;
}

@media (max-width: 375px) {
    .journey {
        background-color: whitesmoke;
        width: 2.2rem;
        display: inline-flex;
        padding-left: 10px;
        margin-left: 0px;
        padding-top: 30px;
        padding-bottom: 0px;
        margin-bottom: 15px;
    }
}

.road-riches,
.join-arnold {
    padding-left: 40px;
}

h2,
.title-main,
h4 {
    color: rgb(11, 40, 41);
    font-weight: 700;
    text-align: left;
    letter-spacing: -.5px;
    margin-bottom: 20px;
    font-family: 'gilroyextrabold';
    font-size: 1.4rem;
}

h3 {
    color: white;
    font-family: 'Raleway';
    font-size: 1.1rem;
    font-weight: 900;
}

h5 {
    font-family: 'Poiret One';
    font-weight: 600;
    font-size: 1.6rem;
    letter-spacing: 26px;
}

.top-title {
    font-family: 'Poiret One';
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: 12px;
}

@media (max-width: 426px) {
    .top-title {
        font-family: 'Poiret One';
        font-weight: 400;
        font-size: 1.2rem;
        letter-spacing: 1px;
    }
}

@media (max-width: 426px) {
    .road-riches {
        margin-left: 0px;
        padding-left: 0px;
    }
}

@media (max-width: 426px) {
    .goal-start {
        margin-left: 30px;
        padding-left: 10px;
    }
}

@media (max-width: 426px) {
    .recent-progress {
        margin: 5px;
    }
}

.join-me {
    font-family: 'Rammetto One';
    font-size: 1rem;
    letter-spacing: 1px;
}

.ar {
    letter-spacing: 10px;
    font-size: 7rem;
    line-height: -2px;
    font-family: 'Maven Pro';
    font-weight: 900;
}

.welcome-note {
    padding: 50px 20px 50px 20px;
    margin: 10px;
    font-family: 'Raleway';
}

.card-img-top {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.dot {
    height: 90px;
    width: 90px;
    background-color: #FFF3F5;
    border-radius: 50%;
    display: inline-block;
    padding-top: 50px;
    position: relative;
}

.pagination {
    font-family: 'Raleway';
}

.special-card {
    background-color: black;
    border-style: none;
    padding: 30px;
    margin: 0px;
    color: rgb(192, 189, 189);
    border-radius: 0px;
}

.card-text {
    line-height: 1rem;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-text-2 {
    line-height: 1.4rem;
    font-size: 1.2rem;
    font-weight: 350;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-rectangle {
    width: 25px;
    height: 4px;
    border: 0px;
    background-color: #C2FCF4;
    margin-top: 20px;
    margin-bottom: 10px;
}

.card-rectangle-title {
    width: 60px;
    height: 10px;
    border: 0px;
    background-color: #C2FCF4;
    margin-left: 10px;
    margin-left: 40px;
}

@media (max-width: 426px) {
    .card-rectangle-title {
        width: 60px;
        height: 10px;
        border: 0px;
        background-color: #C2FCF4;
        margin-left: 0px;
        margin-left: 0px;
    }
}

.card-body {
    padding: 8px;
    margin: 5px;
}

.progress-span,
.about-span {
    font-family: 'libre_baskervilleitalic';
    font-weight: 500;
    font-size: 1.5rem;
    line-height: .8rem;
}

.author-footer {
    font-family: 'Raleway';
    font-size: 0.9rem;
    font-weight: 900;
    letter-spacing: -1px;
    line-height: 4px;
}

.join-me {
    font-family: libre_baskervilleitalic;
    font-weight: 100;
    font-size: 11px;
    letter-spacing: -0.5px;
    text-decoration: none;
    color: #757777;
}

.footer-address {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 12px;
    letter-spacing: -0.5px;
}

.join-me-2 {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 0.8rem;
    letter-spacing: -0.5px;
    text-decoration: none;
    color: #59594F;
    line-height: 0.9rem;
}

.join-me-3 {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 0.8rem;
    letter-spacing: -0.5px;
    text-decoration: none;
    color: #0a0a02;
    line-height: 0.9rem;
}

.footer-home {
    background-color: white;
    padding: 60px 40px;
}


/* About.html Styles*/

.guides,
.title-main {
    margin: 0px 0px 30px;
    padding: 0px 30px;
}

.purpose-section {
    margin-left: 60px;
    margin-right: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width:1440px) {
    .about-title {
        font-family: 'GilroyHeavy';
        font-size: 3.2rem;
        color: white;
        font-weight: 1000;
        line-height: 2.5rem;
        letter-spacing: .5px;
    }
}

@media (max-width:1025px) {
    .about-title {
        font-family: 'GilroyHeavy';
        font-size: 3.2rem;
        color: white;
        font-weight: 1000;
        line-height: 2.5rem;
        letter-spacing: .5px;
    }
}

@media (max-width:769px) {
    .about-title {
        font-family: 'GilroyHeavy';
        font-size: 3rem;
        color: white;
        font-weight: 1000;
        line-height: 2.5rem;
        letter-spacing: .5px;
    }
}

@media (max-width:426px) {
    .about-title {
        font-family: 'GilroyHeavy';
        font-size: 2rem;
        color: white;
        font-weight: 1000;
        line-height: 2rem;
        letter-spacing: .8.5px;
    }
}

@media (max-width: 375px) {
    .about-title,
    .start-page {
        font-family: 'GilroyHeavy';
        font-size: 1.8rem;
        color: white;
        font-weight: 1000;
        line-height: 2rem;
        letter-spacing: .8.5px;
    }
}

@media (max-width: 769px) {
    .about-sub-title {
        font-family: 'GilroyHeavy';
        font-size: 1.4rem;
        color: rgb(53, 51, 51);
        font-weight: 900;
        line-height: 1.4rem;
        letter-spacing: 3px;
    }
}

@media (max-width: 320px) {
    .about-sub-title {
        font-family: 'GilroyHeavy';
        font-size: 1.5rem;
        color: rgb(53, 51, 51);
        font-weight: 900;
        line-height: 1.4rem;
        letter-spacing: 3px;
    }
}

.about-para {
    font-family: 'bifocalsregular';
    font-size: .95rem;
    font-weight: 400;
    color: #504949;
    line-height: 1.2rem;
}

#about-parallax {
    background-image: url(/assets/images/penny.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 400px;
}

.about-card-title {
    color: rgb(11, 40, 41);
    font-weight: 700;
    text-align: left;
    letter-spacing: -1px;
    margin-bottom: 20px;
    font-family: 'gilroyextrabold';
    font-size: 1.4rem;
}

.about-col-titles {
    font-family: 'Libre Baskerville';
    font-size: 15px;
    color: rgb(248, 245, 245);
    font-weight: lighter;
}

.purpose-row {
    margin-right: 80px;
    margin-left: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width:768px) {
    .purpose-row {
        margin-right: 0px;
        margin-left: 10px;
        padding-left: 0px;
        padding-right: 5px;
    }
}

@media (max-width:480px) {
    .purpose-row {
        margin-right: 0px;
        margin-left: 0px;
        padding-left: 0px;
        padding-right: 5px;
    }
}

@media (max-width: 320px) {
    .purpose-row {
        margin-right: 0px;
        margin-left: 0px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width: 320px) {
    h5 {
        font-family: 'Poiret One';
        font-weight: 400;
        font-size: 1rem;
        letter-spacing: 6px;
    }
}

.brave-bold {
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 0px;
}

@media (max-width: 768px) {
    .brave-bold,
    .about-time {
        width: 280px;
        margin-left: 0px;
        margin-right: 5px;
        margin-top: 0px;
    }
}

@media (max-width: 480px) {
    .brave-bold,
    .about-time {
        margin-left: 40px;
        margin-right: 20px;
        margin-top: 30px;
    }
}

@media (max-width: 320px) {
    .brave-bold,
    .about-time {
        margin-left: 40px;
        margin-right: 30px;
        margin-top: 20px;
    }
}

@media (max-width: 375px) {
    .about-time {
        margin-left: 0px;
        margin-right: 40px;
        margin-top: 0px;
        padding: 10px;
    }
}


/*login page*/

.bg-image {
    background-image: url('https://res.cloudinary.com/mhmd/image/upload/v1555917661/art-colorful-contemporary-2047905_dxtao7.jpg');
    background-size: cover;
    background-position: center center;
}