body {
    font-family: "Raleway", sans-serif, "Maven Pro", "Ranchers", "Vibur";
    font-family: "Kulim Park", sans-serif;
    font-family: "Libre Baskerville", serif;
    font-family: "Maven Pro", sans-serif;
    font-family: "Poiret One", cursive;
    font-family: "Raleway", sans-serif;
    font-family: "Rammetto One", cursive;
    font-family: "Ranchers", cursive;
    font-family: "Roboto", sans-serif;
    font-family: "Sacramento", cursive;
    font-family: "Vibur", cursive;
    font-family: "Montserrat", sans-serif;
    font-family: 'Shadows Into Light Two', cursive;
    /*font-family: 'Monoton', cursive;*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "gilroyextrabold";
    src: url("/static/fonts/webfontkit/Gilroy/gilroy-extrabold-webfont.woff2") format("woff2"), url("/assets/Fonts/webfontkit/Gilroy/gilroy-extrabold-webfont.woff") format("woff");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "cascadia_codebold";
    src: url("/static/fonts/webfontkit/Cascadia/cascadiacode-bold-webfont.woff2") format("woff2"), url("/assets/Fonts/webfontkit/Cascadia/cascadiacode-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "chunkfive_printregular";
    src: url("chunk_five_print-webfont.woff2") format("woff2"), url("chunk_five_print-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "libre_baskervilleitalic";
    src: url("/static/fonts/webfontkit/libre-bakersville/librebaskerville-italic-webfont.woff2") format("woff2"), url("/assets/Fonts/webfontkit/libre-bakersville/librebaskerville-italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


/*bifocals*/

@font-face {
    font-family: "bifocalsblack-italic";
    src: url("bifocals_black_italic-webfont.woff2") format("woff2"), url("bifocals_black_italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "bifocalsblack";
    src: url("/static/fonts/webfontkit/Bifocals/bifocals_black-webfont.woff2") format("woff2"), url("/assets/Fonts/webfontkit/Bifocals/bifocals_black-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "bifocalsregular";
    src: url("/static/fonts/webfontkit/Bifocals/bifocals-webfont.woff2") format("woff2"), url("/assets/Fonts/webfontkit/Bifocals/bifocals-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


/*gentona font*/

@font-face {
    font-family: "gentonaextrabold";
    src: url("/static/fonts/webfontkit/Gentona/rene_bieder_-_gentona_extrabold_demo-webfont.woff2") format("woff2"), url("/assets/Fonts/webfontkit/Gentona/rene_bieder_-_gentona_extrabold_demo-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


/*gilam font*/

@font-face {
    font-family: "gilam-black";
    src: url("/static/fonts/webfontkit/Gilam/gilamdemo-black-webfont.woff2") format("woff2"), url("/assets/Fonts/webfontkit/Gilam/gilamdemo-black-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


/*mont fonts*/

@font-face {
    font-family: "mont-extralight";
    src: url("/static/fonts/webfontkit/Mont-Solo/montdemo-extralight-webfont.woff2") format("woff2"), url("/assets/Fonts/webfontkit/Mont-Solo/montdemo-extralight-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "mont-heavy";
    src: url("/static/fonts/webfontkit/Mont-Solo/montdemo-heavy-webfont.woff2") format("woff2"), url("/assets/Fonts/webfontkit/Mont-Solo/montdemo-heavy-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


/*solo fonts*/

@font-face {
    font-family: "soloregular";
    src: url("/static/fonts/webfontkit/Mont-Solo/solo-webfont.woff2") format("woff2"), url("/assets/Fonts/webfontkit/Mont-Solo/solo-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


/*Gilroy-Heavy*/

@font-face {
    font-family: "GilroyHeavy";
    src: url("/static/fonts/webfontkit/Gilroy-Heavy/gilroy-heavy-webfont.woff2") format("woff2"), url("/assets/Fonts/webfontkit/Gilroy-Heavy/gilroy-heavy-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


/* Navigation bar*/

.navbar {
    min-height: 70px;
    position: relative;
    background: none;
    z-index: 10;
    color: white;
}

.navbar-custom {
    padding: 0px;
    margin: 0px;
    min-height: 40px;
}

.navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
}

.navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 5px;
    padding: 3px 5px !important;
}


/* navlink animation Circle */

.nav-link:hover {
    background-color: #d34141;
    color: whitesmoke !important;
}

.nav-link {
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: "soloregular";
    color: #d34141!important;
}

#logo-title {
    letter-spacing: -1.5px;
    display: inline-block;
    font-family: "Raleway";
    color: #d34141;
}

.navbar-right {
    display: block;
    float: right;
    margin-left: 10px;
}


/* Navigation bar*/


/* Landing page */

.showcase {
    position: relative;
    right: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    z-index: 2;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #03a9f4;
    mix-blend-mode: overlay;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}

.home-wrapper {
    z-index: 10;
    position: relative;
}

.million-title {
    font-family: "soloregular";
    font-weight: 500;
    letter-spacing: 5px;
    color: white;
    text-transform: capitalize !important;
}

.journey {
    letter-spacing: 10px;
}

.road-title,
.potential-title {
    font-family: "gentonaextrabold";
    font-size: 3.5rem;
    line-height: 3rem;
    color: whitesmoke;
}

.potential-title {
    margin-top: 50px;
}

.home-join-me {
    font-family: "gilam-black";
    font-weight: lighter;
    color: white;
    z-index: 20;
    line-height: 1.2rem;
    max-width: 200px;
}

.follow-btn {
    background-color: #d34141;
    width: 120px;
    height: 40px;
    font-size: .9rem;
    position: relative;
    border-radius: 0px !important;
}

.follow-arrow {
    display: inline-block;
}

.social-container {
    padding-top: 5px;
}

.social-icons-home,
.social,
.social-about {
    color: white;
    margin-right: 4px;
    font-size: 1.2rem;
}

.social-about {
    color: black;
}

.goal {
    margin-top: 40px;
    z-index: 10;
}

.goal-para,
.goal-para-2 {
    font-family: "mont-extralight";
    line-height: .9rem;
    font-size: .9rem;
    color: white;
    font-weight: 300px;
    letter-spacing: -.5px;
}

.about-time {
    margin-top: 60px;
    margin-bottom: 15px;
}

@media only screen and (max-device-width:1440px) {
    .goal-2 {
        display: none;
    }
    .post-title {
        font-size: 36px;
    }
    .about-para {
        margin: 0px 20px;
    }
}

@media only screen and (max-device-width:1024px) {
    .goal-2 {
        display: none;
    }
    .post-title {
        font-size: 36px;
    }
    .about-para {
        margin: 0px 20px;
    }
}

@media only screen and (max-device-width:769px) {
    .goal-2 {
        display: none;
    }
    .goal-para {
        color: white;
        max-width: 400px;
    }
    .social-container-about,
    .about-time {
        width: 280px;
        margin-left: 0px;
        margin-right: 5px;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .post-title {
        font-size: 46px;
    }
}

@media only screen and (max-device-width:576px) and (max-device-width:425px) {
    .goal {
        display: none;
    }
    .goal-para {
        color: white;
    }
    .goal-2 {
        display: inline-flex;
        margin-top: 0px;
        max-width: 300px;
    }
    .social-container-about,
    .about-time {
        margin-right: 20px;
        margin-top: 30px;
        margin-bottom: 15px;
    }
    .about-content {
        margin-top: 10px;
    }
    .post-title {
        font-size: 44px;
    }
}

@media only screen and (max-device-width:375px) {
    .goal {
        display: none;
    }
    .goal-2 {
        display: inline-flex;
        margin-top: 0px;
        max-width: 250px;
    }
    .goal-para {
        color: white;
    }
    .about-time {
        margin-left: 0px;
        margin-right: 40px;
        margin-top: 0px;
        padding: 10px;
    }
    .social-container-about {
        margin-bottom: 15px;
    }
    .post-title {
        font-size: 36px;
    }
}

.progress-span {
    font-family: 'libre_baskervilleitalic';
    font-weight: 500;
    font-size: 1.5rem;
    line-height: .8rem;
}

@media only screen and (max-device-width:360px) {
    .about-image {
        max-width: 300px;
    }
    .goal {
        display: none;
    }
    .goal-2 {
        display: inline-flex;
        margin-top: 0px;
        max-width: 250px;
        margin-bottom: 50px;
    }
    .goal-para {
        color: white;
    }
    .author {
        font-weight: lighter;
        color: white;
    }
    .social-container-about {
        margin-bottom: 15px;
    }
    .post-title {
        font-size: 34px;
    }
}

@media only screen and (max-device-width:320px) {
    .about-image {
        max-width: 300px;
    }
    .goal {
        display: none;
    }
    .goal-2 {
        margin-top: 50px;
        max-width: 250px;
        margin-bottom: 50px;
    }
    .goal-para {
        color: white;
    }
    .social-container-about,
    .about-time {
        margin-right: 30px;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .post-title {
        font-size: 31px;
    }
    .author {
        color: white;
    }
}


/* End of Landing page */


/* Progress */

.progress {
    font-family: "soloregular";
    font-size: xx-large;
    display: absolute;
    margin-top: 20px;
    height: 50px;
    justify-content: center;
    background-color: white;
    font-weight: 900;
}

.post-container {
    margin: 0px;
    padding: 0px;
    display: relative;
}

.article-footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.article-author {
    font-family: "bifocalsregular", sans-serif;
    font-size: 10px;
    font-weight: 200;
    text-decoration: none !important;
    color: rgb(24, 68, 163);
}

.card-text {
    line-height: 1rem;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about-para {
    font-family: 'Raleway';
    font-size: .95rem;
    font-weight: 400;
    color: #504949;
    letter-spacing: -.4px;
    line-height: 1.2rem;
}

.about-header {
    letter-spacing: 16px;
    font-family: 'soloregular';
    font-size: 1.3rem;
}

.about-image {
    min-width: 200px;
    width: 100%;
}

.about-image-div {
    object-fit: contain;
    max-width: 500px;
}

.about-content {
    margin: 0px 20px;
    padding: 0px 20px;
}

.social-container-about {
    margin-left: 0px;
    margin-right: 30px;
    margin-top: 0px;
}

.card-title,
.about-title {
    color: rgb(11, 40, 41);
    font-weight: 700;
    text-align: left;
    letter-spacing: -.5px;
    margin-bottom: 20px;
    font-family: 'gilroyextrabold';
    font-size: 1.25rem;
    line-height: 1.3rem;
}

.potential-sub-title {
    font-family: 'GilroyHeavy';
    font-size: 1.5rem;
    color: rgb(53, 51, 51);
    font-weight: 900;
    line-height: 1.6rem;
    letter-spacing: 3px;
}

.guides-title {
    font-family: 'Libre Baskerville';
    font-size: 15px;
    color: rgb(248, 245, 245);
    font-weight: lighter;
    margin-bottom: 5px;
}

.guides-para {
    font-family: 'bifocalsregular';
    font-size: .95rem;
    font-weight: 400;
    color: #504949;
    line-height: 1rem;
    margin-top: 20px;
}

.card-title-summary {
    color: white;
    font-weight: 700;
    text-align: left;
    letter-spacing: -.5px;
    margin-bottom: 20px;
    font-family: 'gilroyextrabold';
    font-size: 1.4rem;
}

.card-img-top {
    width: 100%;
    height: 45vh;
    object-fit: cover;
}

.special-card {
    background-color: black;
    border-style: none;
    padding: 10px;
    margin: 10px;
    color: white;
    border-radius: 0px;
}

.card-rectangle {
    width: 25px;
    height: 4px;
    border: 0px;
    background-color: #C2FCF4;
    margin-top: 20px;
    margin-bottom: 10px;
}

.card-rectangle-title {
    width: 60px;
    height: 10px;
    border: 0px;
    background-color: #C2FCF4;
    margin-left: 10px;
    margin-left: 40px;
}

.footer-address {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 12px;
    letter-spacing: -0.5px;
    color: white;
}

.footer-list {
    list-style: none;
    text-decoration: none;
}

.footer-link {
    font-family: "soloregular";
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    letter-spacing: -.7px;
    line-height: .4rem;
    font-size: 0.8rem;
}

.join-me-footer {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 0.8rem;
    letter-spacing: -0.5px;
    text-decoration: none;
    color: white;
    line-height: 0.9rem;
}

.join-me-footer-0 {
    font-family: libre_baskervilleitalic;
    font-weight: 100;
    font-size: 11px;
    letter-spacing: -0.5px;
    text-decoration: none;
    color: white;
}

.join-me-footer-1 {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 0.8rem;
    letter-spacing: -0.5px;
    text-decoration: none;
    color: white;
    line-height: 0.9rem;
}

.author-footer {
    font-family: 'Raleway';
    font-size: 0.9rem;
    font-weight: 900;
    letter-spacing: -1px;
    line-height: 4px;
    color: white;
}

.footer-home {
    background-color: black;
    padding: 60px 40px;
}


/* Section*/

.card-column {
    margin: 0px;
    padding: 5px;
    border-radius: 0px;
}

.btn {
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
}


/*content section*/

.author {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: .92rem;
    letter-spacing: 3px;
    font-weight: 400;
}

.hr-1 {
    max-width: 250px;
    border: 1px solid black;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 50px;
    padding-right: 100px;
}

.discover-image {
    max-width: 500px;
    margin-top: 40px;
    margin-bottom: 30px;
}


/*login page*/

.bg-image {
    background-image: url("https://res.cloudinary.com/mhmd/image/upload/v1555917661/art-colorful-contemporary-2047905_dxtao7.jpg");
    background-size: cover;
    background-position: center;
}

.post-main-content-wrapper {
    max-width: 600px;
    max-height: auto;
    margin: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.post-image-wrapper {
    border-radius: 0px;
    max-width: 400px;
    max-height: 500px;
    object-fit: contain;
    overflow: hidden;
    margin-bottom: 40px;
    margin-top: 10px;
}

.post-image-post {
    min-width: 200px;
    min-height: 300px;
    width: 100%;
    height: 100%;
    position: inline-block;
}

.post-title {
    font-family: "GilroyHeavy";
    line-height: .97em;
    color: black;
    margin-bottom: 15px;
}

.post-para {
    line-height: 1.5rem;
    font-weight: 350;
    font-size: 1.2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}