{% extends "layout.html" %} {% block content %}

<!--Welcome section-->
<section class="hero" style="background-color: #617999;">
    <div class="container  ">
        <div class=" row container start-page ">
            <div class="col-md-8 align-content-center container" style="background-color:whitesmoke;">
                <div class="container">
                    <div class="container journey ">
                        <h5 class="top-title"> <span>Millionaire</span> <br> Journey</h5>
                    </div>
                    <div class=" container card-rectangle-title" style="background-color: #768a1e;width: 120px;height: 1px; margin-left:60px; "></div>
                    <br>
                    <div class="container " style="display: inline-block;">
                        <div class=" container home-title road-riches mt-0 " style="color: #2E2F26;"> Road to riches</div>
                        <div class="  join-me-2 pb-1 pt-1 road-riches mt-1 mb-1" style="max-width:300px; font-size:.8rem; line-height: .9rem;">
                            Join Arnold Schwaltz on a never before shared step-by-step journey to making a million dollars
                        </div>
                        <br>
                        <button type="button" class="container card-rectangle-title" style="background-color: rgb(228, 228, 7); width: 120px; height:40px; font-size: .9rem;">
                                Follow
                                <div class="" style="display: inline-block;">
                                    <img src="/assets/icons/icons8-right-arrow-48.png" alt="learn more" style="width:18px; height:17px;">
                                    <br>
                                </div>
                            </button>
                        <br><br><br>
                    </div>
                </div>
            </div>
            <div class="col-md-3">

            </div>
        </div>
    </div>
    <br>
</section>
<br><br>
<!--End of Welcome section -->

<!-- Objective section-->
<section class="container " style="background-color:white;">
    <div class="row container ">
        <div class="col-md-1 container">
        </div>
        <div class="col-md-4 container mt-3 goal-start">
            <h1 class="about-title" style="letter-spacing: -.8px; color: rgb(19, 53, 77);">Goal <br> </h1>
            <div class="mb-4" style="width: 60px; height: 2px; background-color: black; ">
                <hr class="hr ">
            </div>
        </div>
        <div class="col-md-6 container mt-2 goal-start">
            <p class="about-para" style="font-size:.9rem; line-height: 1rem; font-weight: lighter; max-width: 500px;">
                <img class="img-responsive m-1" src="/assets/icons/icons8-quote-left-filled.png" alt="" style="width:30px"> <br> Here is why I may not see eye to eye with most of the so called millionaires out there whether self made or otherwise. They
                never tell you what they actually realistically did to make their first dollar later snowballing into millions. You always get the end part where they finally made the millions. They never show you what they actually did and how they went
                from one dollar to two and so on up to millions. And some of them even have the audacity to create and sell books or courses and talks further benefiting from the naive aspiring millionaire. <br><br> They are often too vague or too general
                when revealing what they did step by step, if they ever do. I am going to dedicate each and every day of my life from today (8th February 2020) to research and try every single idea I can possibly come across and that’s worthy of testing,
                in order to prove to myself and you that it is possible and that it can be done. I would like to take this journey with you and not just let you be a passive reader watching things happen. Because we... we deserve better. <br>
                <img src="/assets/icons/icons8-quote-right-filled.png" alt="" style="width:30px">
            </p>
        </div>
    </div>
</section>
<!-- End of Objective section-->
<!--Content section -->

<section class="container">
    <div class="">
        <div class=" ">
            <div class="container  d-flex justify-content-center " style="display: inline-block;">
                <h2>Recent <span class="">Progress</span> </h2>
            </div>
            <br>
            <div class="row">
                {% for post in posts %}
                <div class="card-column col-md-3 justify-content-center mt-4 recent-progress">
                    <div class="card h-100">
                        <img src="/assets/images/woman-eyeglasses.jpg " class="card-img-top img-responsive " alt="... ">
                        <div class="card-body ">
                            <h2 class=" m-3 ">{{ post.title }}</h2>
                            <p class="card-text m-3">{{ post.content }} </p>
                            <p class="card-text m-3">{{ post.date_posted }}</p>
                            <div class="container ">
                                <a href="# " class="arrow ">
                                    <img src="{{ url_for('static', filename='icons8-right-arrow-48.png') }}" style="width: 20px; " alt=" ">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!--Page navigation-->
    <div class="container ">
        <nav aria-label="Page navigation example ">
            <ul class="pagination justify-content-center ">
                <li class="page-item ">
                    <a class="page-link " href="# " aria-label="Previous ">
                        <img src="/assets/icons/icons8-left-arrow-48.png " style="width: 20px; " alt=" ">
                    </a>
                </li>
                <li class="page-item "><a class="page-link " href="# ">1</a></li>
                <li class="page-item "><a class="page-link " href="# ">2</a></li>
                <li class="page-item "><a class="page-link " href="# ">3</a></li>
                <li class="page-item ">
                    <a class="page-link " href="# " aria-label="Next ">
                        <img src="/assets/icons/icons8-right-arrow-48.png " style="width: 20px; " alt=" ">
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- End of Page navigation-->
    </div>
    </div>

</section>
<!--End of Content section -->

<!--Progress summary section -->
<section id="progress-notes ">
    <div class="container">
        <div class="row ">
            <div class="col-md-4 py-4 container">
                <div class="container ">
                    <div class="container  ">
                        <h2><span class="progress-span">Progress</span>, <br> <span style="text-decoration: underline;">NOT</span> Perfection</h2>
                        <p class="card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum rerum impedit earum accusantium libero dicta, assumenda praesentium harum cupiditate facilis itaque necessitatibus dolor ratione iusto illo maiores quos quisquam nulla.
                            <br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum rerum impedit earum accusantium libero dicta, assumenda praesentium harum cupiditate facilis itaque necessitatibus dolor ratione iusto illo maiores quos
                            quisquam nulla.
                        </p>

                        <div class="mb-5 mt-4 " style="width: 60px; height: 2px; background-color: black; ">
                            <hr class="hr ">
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-7 container " style="background-color: black; ">
                <div class="row container ">
                    <div class="col-md-6 mt-5 ">
                        <div class="card special-card h-100 w-100 " style="width: 18rem; display: flex; ">

                            <div class="card-body ">
                                <h3 class="card-title ">Getting Down & Good</h3>
                                <div class="card-rectangle "></div>
                                <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-5 ">
                        <div class="card special-card h-100 w-100 " style="width: 18rem; display: flex; ">

                            <div class="card-body ">
                                <h3 class="card-title ">The Creative Process</h3>
                                <div class="card-rectangle "></div>
                                <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row container ">
                    <div class="col-md-6 mb-5 ">
                        <div class="card special-card h-100 w-100 " style="width: 18rem; display: flex; ">

                            <div class="card-body ">
                                <h3 class="card-title ">Tying Things Together</h3>
                                <div class="card-rectangle "></div>
                                <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-5 ">
                        <div class="card special-card h-100 w-100 " style="width: 18rem;">

                            <div class="card-body ">
                                <h3 class="card-title ">Developing Platforms & Setting Up Shop</h3>
                                <div class="card-rectangle "></div>
                                <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
</section>
<!--End of Progress summary-->
{% endblock content %}
</body>