{% extends "layout.html"%} {% block content %}

<!--About section-->

<section class=" container main-content ">
    <div class="container ">
        <div class="  ">
            <div class="container ">
                <h2 class="mb-1" style="letter-spacing: 16px; font-family: 'soloregular';">
                    ABOUT
                </h2>
                <div class="mb-4" style="width: 60px; height: 2px; background-color: black; ">
                    <hr class="hr ">
                </div>
                <br><br>
            </div>
        </div>
        <div class="row bold ">
            <div class="col col-md-6 ">
                <div class="main-content container ">
                    <img src="/assets/potraits/Black_specs.jpg " alt=" " class="img-responsive" style="min-width:200px;">
                </div>
                <div class="container mt-3 brave-bold ">
                    <div class="d-inline-block ">
                        <a href=" ">
                            <img src="/assets/icons/icons8-facebook-light.svg " alt="facebook " style="width: 25px; ">
                        </a>
                    </div>
                    <div class="d-inline-block ">
                        <a href=" ">
                            <img src="/assets/icons/twitter-block.png " alt="twitter " style="width: 25px; ">
                        </a>
                    </div>
                    <div class="d-inline-block ">
                        <a href=" ">
                            <img src="/assets/icons/icons8-instagram.svg " alt="instagram " style="width: 25px; ">
                        </a>
                    </div>
                    <div class="d-inline-block ">
                        <a href=" ">
                            <img src="/assets/icons/icons8-linkedin.svg " alt="linkedin " style="width: 25px; ">
                        </a>
                    </div>
                </div>
            </div>
            <br>
            <div class="col col-md-6 brave-bold" id="about-title " style="max-width: 350px;">

                <h2>Bold, Brave <br> <span class="">& Beyond</span></h2>
                <p class="card-text">You can't connect the dots looking forward; you can only connect them looking backward. So you have to trust that the dots will somehow connect in your future. You have to trust in something--your gut, destiny, life, karma, whatever. This
                    approach has never let me down, and it has made all the difference in my life. Said Steve Jobs. I'm on a journey looking for the dots, doing that which will enable connection in the future</p>
                <p class="card-text">In my experience, there is only one motivation, and that is desire. No reasons or principle contain it or stand against it. I don't want to get to the end of my life and find that I lived just the length of it. I want to have lived the
                    width of it as well.</p>
                <br>
                <p class="author " style="font-weight: lighter;">Arnold Schwaltz</p>
            </div>
        </div>
    </div>
    <br><br>
</section>
<!-- End of About Section-->

<br><br><br><br>

<!--Welcome section-->
<section style="background-color: #adc797;">
    <section class="hero container " style="background-color: #adc797;">

        <div class="row pt-0 mt-0 purpose-row container">
            <div class="container title-main">
                <h1 class="about-title m-sm-0 p-sm-0 ">Potential of online <br> markets <br><br>
                    <h2 class="about-sub-title">levaraging Online <br> technologies</h2>
                </h1>

            </div>
            <div class="col-md-4 container guides" style="max-width: 250px;">
                <h3 class="about-col-titles">Purpose</h3>
                <br>
                <p class="about-para m-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam officiis suscipit fuga sit mollitia maxime et, ut illum id nostrum! Ducimus, cumque voluptates officiis laboriosam recusandae laborum id voluptas illum! Lorem ipsum dolor
                    sit, amet consectetur adipisicing elit. Rerum, quaerat minima!</p>
                <div class="align-middle" style="display: inline-block;">
                    <img src="/assets/icons/icons8-right-arrow-48.png" alt="learn more" style="width:20px; height:20px;">
                    <br>
                </div>
            </div>

            <div class="col-md-4 container guides" style="max-width: 300px;">
                <div class="container">
                    <h3 class="about-col-titles">Setting up</h3>
                    <br>
                    <p class="about-para m-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet aliquam natus delectus quam officia necessitatibus enim dolorum. Optio iste quis nesciunt dicta maiores, tenetur, ipsum ad nulla dignissimos enim quam! Lorem ipsum dolor
                        sit amet, consectetur adipisicing elit. .</p>
                    <div class="align-middle" style="display: inline-block;">
                        <img src="/assets/icons/icons8-right-arrow-48.png" alt="learn more" style="width:20px; height:20px;">
                        <br>
                    </div>
                </div>

            </div>
            <div class="col-md-4 container guides " style="max-width: 250px;">
                <h3 class="about-col-titles">Monitoring</h3>
                <br>
                <p class="about-para m-1 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. ipsum dolor sit amet, consectetur adipisicing elit. Dolores eum laboriosam fugiat. Minus aperiam maiores, ipsum deserunt accusantium odit ut, libero atque, ducimus vel officia quam
                    laudantium molestias earum facere!</p>
                <div class="align-middle" style="display: inline-block;">
                    <img src="/assets/icons/icons8-right-arrow-48.png" alt="learn more" style="width:20px; height:20px;">
                    <br>
                </div>
            </div>

        </div>

    </section>
</section>

<!--End of Welcome section -->

<br><br><br>

<!--Parallax-->
<!--<section class="container " id="about-parallax">
        <div class="container">
            <h1 class="about-title mt-5">Watch your <br> pennies <span style="color: rgb(236, 22, 87);text-decoration: underline;">grow</span></h1>
            <h5 class="" style="color:rgb(209, 238, 238); letter-spacing: -.8px;">start small and <br> build up wealth</h5>
        </div>
    </section>-->
<!-- End of Parallax-->



<section class="container" style="background-color: #f1d661;">
    <di class="container row pt-1 about-time">
        <div class="col-md-1"></div>
        <div class="col-md-4 container m-4 about-time" style="width: 300px;">
            <h1 class="about-title mb-4" style="color: rgb(59, 8, 23); line-height: 1.5rem;font-size: 1.8rem;color: white;">Discover your<br> <span style="color: black;"> Potential</span></h1>
            <p class="about-para ">We kill time. We save time. We rob and get robbed of time, we lose time, and we have all the time in the world. But no one of us is powerful enough to stop the march of time or slow it down. Is it something far beyond our control? In fact,
                no. While we cannot influence the flow of time, we still can get the most out of it. <br><br> Becoming a wise time manager sometimes is similar to mastering a sorcery, but the results are worth the effort. Being the master of your time
                means getting more done, staying energized, and doing more things you enjoy. We’ve collected the best time quotes from the greatest minds of the world – use them as an inspiration or as guidelines for improving your time management.</p>
        </div>
        <div class="col-md-6 container mt-4" style="max-width: 400px;min-width: 300px;">
            <img src="/assets/images/alarm-clock-medium.jpg" alt="" class="img-responsive mt-3">
        </div>
    </di>
</section>
<!--Progress summary section -->
<section>

</section>
<!--End of Progress summary-->

{% endblock %}