{% extends "layout.html" %} {% block content %}
<!--Welcome section-->
<section class="showcase p-0 m-0">
    <video class="" src="{{url_for('static', filename='videos/road-trip.mp4')}}" muted loop autoplay class=""></video>
    <div class="overlay"></div>
    <div class="container home-wrapper ">
        <div class=" row container  ">
            <div class="col-md-7 align-content-center container">
                <br>
                <div class="container mt-3 " style="display: inline-block;">
                    <div class=" mt-0 ">
                        <h5><span class="million-title mb-2">Millionaire<br><span class="journey">Journey</span></span>
                        </h5>
                        <br>
                        <span class="road-title"> Road to <br> riches </span>
                    </div>
                    <div class=" home-join-me">
                        <p>
                            Join Arnold Schwaltz on a never before shared step-by-step journey to making a million dollars
                        </p>
                        <button type="button" class=" btn follow-btn">
                            Follow
                            <div class="follow-arrow">
                                <img src="{{url_for('static', filename='icons/icons8-right-arrow-48.png')}}" alt="learn more" style="width:18px; height:17px;">
                                <br>
                            </div>
                        </button>
                    </div>
                    <div class="social-container">
                        <div class="d-inline-block social-icons-home">
                            <a href=" ">
                                <i class="bi bi-facebook social"></i>
                            </a>
                        </div>
                        <div class="d-inline-block social-icons-home">
                            <a href=" ">
                                <i class="bi bi-twitter social"></i>
                            </a>
                        </div>
                        <div class="d-inline-block social-icons-home">
                            <a href=" ">
                                <i class="bi bi-instagram social"></i>
                            </a>
                        </div>
                        <div class="d-inline-block social-icons-home">
                            <a href=" ">
                                <i class="bi bi-linkedin social"></i>
                            </a>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <div class="col-md-4 goal shadow">
                <div class=" container">
                    <p class="goal-para mt-2">
                        <img class="img-responsive m-1 " src="{{ url_for('static', filename='icons/icons8-quote-left-filled.png')}}" alt="" style="width:14px"> <br>
                        <span> 
                            Most of the so called millionaires out there whether self made or otherwise never show
                            you how they went from one dollar to the millions. <br> <br> I am going to dedicate each and every day of my life from today (8th February 2020) to research and try every single idea I can possibly come across and that’s worthy of
                            testing, in order to prove to myself and you that it is possible and that it can be done. I would like to take this journey with you and not just let you be a passive reader watching things happen. Because we... we deserve better.
                        </span>
                        <img src="{{url_for('static', filename='icons/icons8-quote-right-filled.png')}}" alt="" style="width:14px">
                        <br><br>
                        <span class="author goal" style="font-weight: lighter;">- Arnold Schwaltz</span>
                    </p>
                </div>
            </div>
            <div class="container goal-2 shadow">
                <p class="goal-para">
                    <img class="img-responsive m-1" src="{{ url_for('static', filename='icons/icons8-quote-left-filled.png')}}" alt="" style="width:14px"> <br>
                    <span> 
                        Most of the so called millionaires out there whether self made or otherwise never show
                        you how they went from one dollar to the millions. I will, join me in this epic road to riches
                    </span>
                    <img src="{{url_for('static', filename='icons/icons8-quote-right-filled.png')}}" alt="" style="width:14px">
                    <br><br>
                    <span class="author">- Arnold Schwaltz</span>
                </p>
            </div>
        </div>
    </div>
</section>
<!--End of Welcome section -->
<!--Content section -->
<div class="container progress">
    <h2>Recent <span> Progress</span></h2>
</div>
<div class="container ">
    <div class="row container post-container">
        {% for post in posts.items %}
        <div class="card-column col-md-3">
            <div class="card h-100 " style="border-radius:0px;">
                <div class="image-div">
                    <img src="{{url_for( 'static', filename='post_pics/' + post.post_image)}} " class="card-img-top img-responsive " alt="... " style="border-radius:0px; ">
                </div>
                <div class="card-body mb-0 pb-0">
                    <a href="{{url_for('post', post_id=post.id)}}" style="text-decoration: none;">
                        <h2 class=" card-title m-0 mb-0 ">{{ post.title }}</h2>
                    </a>
                    <p class="card-text mt-2 mb-0 pb-0">{{ post.content | truncate (100) }} </p>

                    <div class=" mb-0 mt-3 article-footer-wrapper">
                        <div class="article-author">
                            <a class="article-author" href="{{url_for('user_posts', username=post.author.username)}}">
                                By {{ post.author.username }} 
                            </a>
                        </div>
                        <div class="article-author">
                            <time> {{ post.date_posted.strftime('%d %b, %Y') }} </time>
                        </div>
                    </div>
                </div>
                <div class="container mb-2 ">
                    <a href="{{url_for('post', post_id=post.id)}}" class="arrow ">
                        <i class="bi bi-arrow-right float-end" style="color:black;font-size: 15px;"></i>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!--Page navigation-->

    <div class="container ">
        <nav aria-label="Page navigation example ">
            <ul class="pagination justify-content-center ">
                <li class="page-item ">
                    <a class="page-link " href="# " aria-label="Previous ">
                        <img src="{{url_for( 'static', filename='icons/icons8-left-arrow-48.png' )}} " style="width: 20px; " alt=" ">
                    </a>
                </li>
                {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %} {% if page_num %} {% if posts.page == page_num%}
                <li class="page-item active "><a class="page-link " href="{{url_for( 'home', page=page_num)}} ">{{page_num}}</a></li>
                {% else %}
                <li class="page-item "><a class="page-link " href="{{url_for( 'home', page=page_num)}} ">{{page_num}}</a></li>
                {% endif %} {% else %} ... {% endif %} {% endfor %}
                <li class="page-item ">
                    <a class="page-link " href="# " aria-label="Next ">
                        <img src="{{url_for( 'static', filename='icons/icons8-right-arrow-48.png' )}} " style="width: 20px; " alt=" ">
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- End of Page navigation-->
</div>
<!--End of Content section -->

<!--Progress summary section -->
<section id="progress-notes ">
    <div class="container ">
        <div class="row ">
            <div class="col-md-4 py-4 container ">
                <div class="container ">
                    <div class="container ">
                        <h2 style="line-height: 1.5rem;"><span class="progress-span ">Progress</span>, <br> <span class="card-title" style="text-decoration: underline; ">NOT</span> <span class="card-title"> <br> Perfection</span> </h2>
                        <p class="card-text text-justify ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum rerum impedit earum accusantium libero dicta, assumenda praesentium harum cupiditate facilis itaque necessitatibus dolor ratione iusto illo maiores quos quisquam nulla.
                            <br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum rerum impedit earum accusantium libero dicta, assumenda praesentium harum cupiditate facilis itaque necessitatibus dolor ratione iusto illo maiores quos
                            quisquam nulla.
                        </p>

                        <div class="mb-5 mt-4 " style="width: 60px; height: 2px; background-color: black; ">
                            <hr class="hr ">
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-7 container " style="background-color: black; ">
                <div class="row container ">
                    <div class="col-md-6 mt-5 ">
                        <div class="card special-card h-100 w-100 " style="width: 18rem; display: flex; ">

                            <div class="card-body ">
                                <h3 class="card-title-summary ">Getting Down & Good</h3>
                                <div class="card-rectangle "></div>
                                <p class="card-text ">Some quick example text to build on the card title-summary and make up the bulk of the card's content.</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-5 ">
                        <div class="card special-card h-100 w-100 " style="width: 18rem; display: flex; ">

                            <div class="card-body ">
                                <h3 class="card-title-summary">The Creative Process</h3>
                                <div class="card-rectangle "></div>
                                <p class="card-text ">Some quick example text to build on the card title-summary and make up the bulk of the card's content.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row container ">
                    <div class="col-md-6 mb-5 ">
                        <div class="card special-card h-100 w-100 " style="width: 18rem; display: flex; ">

                            <div class="card-body ">
                                <h3 class="card-title-summary ">Tying Things Together</h3>
                                <div class="card-rectangle "></div>
                                <p class="card-text ">Some quick example text to build on the card title-summary and make up the bulk of the card's content.</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-5 ">
                        <div class="card special-card h-100 w-100 " style="width: 18rem; ">

                            <div class="card-body ">
                                <h3 class="card-title-summary ">Developing Platforms & Setting Up Shop</h3>
                                <div class="card-rectangle "></div>
                                <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
</section>
<!--End of Progress summary-->
{% endblock content %}
</body>