<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=Montserrat:wght@400&display=swap=Kulim+Park:wght@200;700&family=Monoton&family=Maven+Pro&family=Poiret+One&family=Raleway:wght@400;700;800;900&family=Rammetto+One&family=Ranchers&family=Roboto:wght@100;900&family=Sacramento&family=Vibur&family=Shadows+Into+Light+Two&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!-- 
    {% if title %}
    <title>finance-blog-{{title}} </title>
    {% else %}
    <title>finance-blog</title>
    {% endif%}
    -->


</head>

<body>
    <!--Nav bar-->
    <nav class="navbar py-0 mb-0 navbar-expand-sm navbar-light bg-transparent navbar-custom">
        <div class="container">
            <a class="navbar-brand" href="#">

                <span id="logo-title">Couch | Money</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="position: relative; z-index: 200;"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{url_for('home')}}">home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('about')}}">about</a>
                    </li>

                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href='#'>progress</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('account')}}">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('new_post')}}">New Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('register')}}">sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('login')}}">login</a>
                    </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
    <!--End of Nav bar-->

    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
    <div class=" container alert alert-{{category}} d-flex justify-content-center" style="max-width: 300px;font-family: 'Raleway'; font-size: 12px;line-height: .9rem;">
        {{message}}
    </div>
    {% endfor %} {% endif %} {% endwith %} {% block content%} {% endblock %}

    <!--Footer section-->
    <footer class="footer-home ">
        <div class="container ">
            <div class="row ">
                <div class="col-md-4 ">
                    <div class="" style="display: inline-block;">
                        <i class="bi bi-arrow-right" style="color: white; font-size: 20px;"></i>
                        <br>
                    </div>

                    <div style="display: inline-flex; position: relative;">
                        <p><span class="join-me-footer-0">join me on this journey</span>
                            <br>
                            <span class="author-footer">ARNOLD SCHWALTZ</span>
                        </p>
                    </div>
                    <!--<div class=" ">
                        <ul class="footer-list" style="color: white;">
                            <li class="">
                                <a class="footer-link" aria-current="page" href="{{url_for('home')}}">home</a>
                            </li>
                            <li class="footer-items">
                                <a class="footer-link" href="{{url_for('about')}}">about</a>
                            </li>

                            {% if current_user.is_authenticated %} {% else %}
                            <li class="footer-items">
                                <a class="footer-link" href="{{url_for('register')}}">sign up</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>-->
                </div>
                <div class="col-md-4 ">
                    <div class="" style="display: inline-block;">
                        <i class="bi bi-arrow-right" style="color: white;"></i>
                        <br>
                    </div>

                    <div style="display: inline-flex; position: relative;">
                        <p class="mb-0"><span class="join-me-footer-0">Become a partner and contributor </span>
                            <br>
                            <span class="author-footer ">/SUPPORT  THIS MISSION</span>
                        </p>
                    </div>
                    <div class="container mt-0 " style="display: inline-flex;position: relative;">
                        <div class="d-inline-block" style="padding-right: 6px;">
                            <a href=" ">
                                <i class="bi bi-facebook social"></i>
                            </a>
                        </div>
                        <div class="d-inline-block " style="padding-right: 6px;">
                            <a href=" ">
                                <i class="bi bi-twitter social"></i>
                            </a>
                        </div>
                        <div class="d-inline-block " style="padding-right: 6px;">
                            <a href=" ">
                                <i class="bi bi-instagram social"></i>
                            </a>
                        </div>
                        <div class="d-inline-block " style="padding-right: 6px;">
                            <a href=" ">
                                <i class="bi bi-linkedin social"></i>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="col-md-4  mt-2" style="position: relative;">
                    <div>
                        <div class="join-me-footer-1 mt-2" style="color: black;">
                            <span class="author-footer">/Get In Touch</span><br>
                            <span class="join-me-footer" style="font-weight: lighter; font-size: .8rem;">
                                Online Money Market 
                                <br> 
                                +254-0110-988-327 
                                <br> 
                                Schwaltz@cm.tech 
                                <br> 
                                Nairobi - Kenya
                            </span>
                            <br>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
    </footer>
    <!--End of footer-->

    <!--Javascript and popper linked sources-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js " integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js " integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj " crossorigin="anonymous "></script>
</body>

</html>