{% extends "layout.html" %} {% block content %}
<section class="login ">
    <div class="container">
        <div class="row container">
            <!-- The image half -->
            <div class="col-md-7 d-none d-md-flex bgx-image">
                <img src="{{url_for('static', filename='images/car-logo.jpg')}}" alt="" class="img-responsive about-image ">
            </div>

            <!-- The content half -->
            <div class="col-md-4 bg-light register-main-content">
                <div class="login d-flex align-items-center py-5">
                    <!-- Demo content-->
                    <div class="container register-content">
                        <div class="">
                            <div class=" register-content-1">
                                <h4 class="about-title text-muted container" style="color: rgb(54, 49, 49); font-size: 1.8rem; letter-spacing: -1.6px;">Couch Money</h4>

                                <h2 class=" mb-4 card-title container" style="font-size: 1rem;">Sign up for a free account</h2>
                                <form method="POST" , action="" class="container">
                                    {{ form.hidden_tag() }}
                                    <div class="form-group mb-2 footer-link">
                                        {% if form.username.errors %} {{ form.username(class='form-control border-1 shadow-sm px-2 text-primary is-invalid', id="inputUsername" ,type="username" ,placeholder="Username")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.username.errors %}
                                            <span>{{error}}</span> {% endfor %}
                                        </div>
                                        {% else %} {{ form.username(class='form-control card-text border-1 shadow-sm px-2 text-primary', id="inputUsername" ,type="username" ,placeholder="Username")}} {% endif %}
                                    </div>
                                    <div class="form-group mb-2">
                                        {% if form.email.errors %} {{ form.email(class='form-control border-1 shadow-sm px-2 text-primary is-invalid', id="inputEmail" ,type="email" ,placeholder="Email")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.email.errors %}
                                            <span>{{error}}</span> {% endfor %}
                                        </div>
                                        {% else %} {{ form.email(class='form-control card-text border-1 shadow-sm px-2 text-primary', id="inputEmail" ,type="username" ,placeholder="Email")}} {% endif %}

                                    </div>
                                    <div class="form-group mb-2">

                                        {% if form.password.errors %} {{ form.password(class='form-control border-1 shadow-sm px-2 text-primary is-invalid', id="inputPassword" ,type="password" ,placeholder="Password")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.password.errors %}
                                            <span>{{error}}</span> {% endfor %}
                                        </div>
                                        {% else %} {{ form.password(class='form-control card-text border-1 shadow-sm px-2 text-primary', id="inputPassword" ,type="password" ,placeholder="Password")}} {% endif %}

                                    </div>
                                    <div class="form-group mb-2 ">
                                        {% if form.confirm_password.errors %} {{ form.confirm_password(class='form-control border-0 shadow-sm px-2 text-primary is-invalid', id="inputPassword" ,type="password" ,placeholder="Confirm password")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.confirm_password.errors %}
                                            <span>{{error}}</span> {% endfor %}
                                        </div>
                                        {% else %} {{ form.confirm_password(class='form-control card-text border-1 shadow-sm px-2 text-primary', id="inputPassword" ,type="password" ,placeholder="Confirm password")}} {% endif %}
                                    </div>
                                    <button type="submit" class="btn btn-dark text-uppercase mb-2 mt-3 ">Sign Up</button>
                                    <div class=" text-muted mt-4">
                                        <small class="card-text" style="letter-spacing: -.9px;">Already have an account?
                                            <a href="{{ url_for('login')}}" class="font-italic text-muted mx-1 card-text">
                                            Login</a>
                                        </small>
                                        <br>
                                    </div>
                                    <div>

                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                    <!-- End -->

                </div>
            </div>
            <!-- End -->

        </div>
    </div>
    <div class="bg-white" style="min-height: 40px;"></div>
</section>

{% endblock %}