{% extends "layout.html" %} {% block content %}
<section class="login container ">
    <div class="container">
        <div class="row container">
            <!-- The image half -->
            <div class="col-md-7 d-none d-md-flex bg-image">
                <!--<img src="/assets/car-logo.jpg" alt="" class="img-responsive ">-->
            </div>

            <!-- The content half -->
            <div class="col-md-4 bg-light">
                <div class="login d-flex align-items-center py-5">

                    <!-- Demo content-->
                    <div class="container">
                        <div class="">
                            <div class=" container">
                                <h4 class="about-title" style="color: black; font-size: 1.8rem;">CouchMoney</h4>

                                <p class="text-muted mb-4">Sign up for a free account</p>
                                <form method="POST" , action="">
                                    {{ form.hidden_tag() }}
                                    <div class="form-group mb-2">
                                        {% if form.username.errors %}
                                            {{ form.username(class='form-control border-0 shadow-sm px-4 text-primary is-invalid', id="inputUsername" ,type="username" ,placeholder="Username")}}
                                            <div class="invalid-feedback">
                                            {% for error in form.username.erros  %}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                            </div>
                                        {% else %}
                                        {{ form.username(class='form-control border-0 shadow-sm px-4 text-primary', id="inputUsername" ,type="username" ,placeholder="Username")}}
                                        {% endif %}                                       
                                    </div>
                                    <div class="form-group mb-2">
                                        {% if form.email.errors %}
                                            {{ form.email(class='form-control border-0 shadow-sm px-4 text-primary is-invalid', id="inputEmail" ,type="email" ,placeholder="Email")}}
                                            <div class="invalid-feedback">
                                            {% for error in form.email.erros  %}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                            </div>
                                        {% else %}
                                        {{ form.email(class='form-control border-0 shadow-sm px-4 text-primary', id="inputEmail" ,type="username" ,placeholder="Email")}}
                                        {% endif %} 

                                    </div>
                                    <div class="form-group mb-2">

                                        {% if form.password.errors %}
                                            {{ form.password(class='form-control border-0 shadow-sm px-4 text-primary is-invalid', id="inputPassword" ,type="password" ,placeholder="Password")}}
                                            <div class="invalid-feedback">
                                            {% for error in form.password.erros  %}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                            </div>
                                        {% else %}
                                        {{ form.password(class='form-control border-0 shadow-sm px-4 text-primary', id="inputPassword" ,type="password" ,placeholder="Password")}}
                                        {% endif %} 

                                    </div>
                                    <div class="form-group mb-2 ">
                                        {% if form.confirm_password.errors %}
                                            {{ form.confirm_password(class='form-control border-0 shadow-sm px-4 text-primary is-invalid', id="inputPassword" ,type="password" ,placeholder="Confirm password")}}
                                            <div class="invalid-feedback">
                                            {% for error in form.confirm_password.erros  %}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                            </div>
                                        {% else %}
                                        {{ form.confirm_password(class='form-control border-0 shadow-sm px-4 text-primary', id="inputPassword" ,type="password" ,placeholder="Confirm password")}}
                                        {% endif %} 

                                    </div>


                                    <button type="submit" class="btn btn-dark btn-lg text-uppercase mb-2 mt-3 ">Sign Up</button>
                                    <div class=" text-muted text-center d-flex justify-content-between mt-4">
                                        <small>Already have an account?
                                            <a href="{{ url_for('login')}}" class="font-italic text-muted mx-1">
                                                <u>Login</u></a>
                                        </small>
                                        <br>

                                    </div>
                                    <div>

                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                    <!-- End -->

                </div>
            </div>
            <!-- End -->

        </div>
    </div>

</section>

{% endblock %}